# dependencies
/node_modules

# next.js
/.next/
/out/

# production
/build

# log
*.log*

# env files
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# Store
/.pnpm-store/

*.sh

/coverage/